.App {
  width: 100%;
  max-width: 960px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  padding: 30px;
}

table {
  margin: 0 0 24px;
  width: 100%;
  border-collapse: collapse;
}

.actor-table td,
.actor-table th {
  border: none;
  padding: 8px;
}

.actor-table tr:nth-child(even) {
  background-color: #eee;
}

.actor-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #90021f;
  color: #fff;
}
.buttonrow {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}

button {
  padding: 12px 24px;
  background: #000;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
}

button:hover {
  background: rgba(0, 0, 0, 0.8);
}
